$main_color: #6F7682
$main_color2: #4798DE 

@mixin linkWithoutFormatting 
    color: $main_color
    text-decoration: none
    
@mixin headerPic
    width: 23px
    height: 23px
    display: block
    margin: 0

@mixin arrowBack
    width: 45px
    height: 45px
    background-color: rgba(255, 255, 255, 0.5)
    border: none
    position: absolute
    top: 50%
    cursor: pointer

    
@mixin arrowDiv
    border: solid $main_color2
    border-width: 0 3px 3px 0
    display: inline-block
    padding: 6px
    margin-top: 5px


    
    