@import '_variables.sass'

* 
    color: $main_color 
    font-family: 'Figtree', sans-serif
    font-family: 'PT Sans',sans-serif
    box-sizing: border-box


// import of blocks
@import 'modules/_header'
@import 'modules/_subheader'



@import '_media'