@import '_variables.sass'

* 
    color: $main_color 
    font-family: 'Figtree', sans-serif
    font-family: 'PT Sans',sans-serif
    box-sizing: border-box
    margin: 0
    padding: 0


// import of blocks
@import 'modules/_header'
@import 'modules/_subheader'
@import 'modules/_promo'
@import 'modules/_stock'


@import '_media'