.promo
    height: 640px
    margin-top: 160px
    position: relative
    &__slides
        .content
            display: none
        .content-active
            width: 100%
            display: block
            position: absolute
            left: 0
            z-index: -1
            height: 600px
            object-fit: cover
    &__mask
        display: flex
        flex-direction: column
        width: 30%
        height: 100%
        position: absolute
        right: 0
        background-color: rgba(255, 255, 255, 0.5)
        padding: 130px 20px 0

        h1
            font-size: 30px
            line-height: 45px
            font-weight: 700
        span
            font-weight: 700
            font-size: 45px
            line-height: 50px
            color: #6CDB7E
        button
            margin-top: 45px
            width: 140px
            height: 40px
            border-radius: 5px
            border: none
            background-color: $main_color2
            color: #fff
            cursor: pointer
    .prev
        @include arrowBack
        border-radius: 0 5px 5px 0
        left: 0
        div
            @include arrowDiv
            transform: rotate(135deg)
    .next
        @include arrowBack
        border-radius: 5px 0 0 5px 
        right: 0
        div
            @include arrowDiv
            transform: rotate(-45deg)
    .dots
        @include dots
        width: 87px


                    

